:root{
  --div-primary-colors:#C71E01;
  --div-secondary-color: #FE9E47;
  --div-button: #6F7219;
}
.about-container {
  padding: 10px 10px 10% 6%;
  background: #ffffff;
}

.about-header {
  color:  var(--div-secondary-color);
  font-family: 'Cairo', sans-serif;
}
.about-paragraph {
  color: black;
  font-family: 'Poppins', sans-serif;
}
.about-row-container::after {
  content: '';
  display: flex;
  align-items: center;
  justify-content: center;
  clear: both;
}

.about-column-66 {
  float: left;
  width: 50.66666%;
  padding: 6%;
}

.about-column-33 {
  float: left;
  width: 33.33333%;
  padding: 25px;
}

.about-image-style {
  display: block;
  height: auto;
  max-width: 100%;
}

.white {
  background: white;
}

@media screen and (max-width: 1000px) {
  .about-column-66,
  .about-column-33 {
    width: 100%;
    text-align: center;
  }
  .about-image-style {
    margin: auto;
  }
}
@media screen and (max-width: 500px) {
  .about-column-66,
  .about-column-33 {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  .about-image-style {
    margin: auto;
  }
  .about-paragraph{
    text-align: center;
    justify-content: center;
  }
}
