:root{
    --div-primary-colors:#C71E01;
    --div-secondary-color: #FE9E47;
    --div-button: #6F7219;
}
.landing-section {
    background: url(https://images.pexels.com/photos/3616956/pexels-photo-3616956.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat scroll center center;
    background-size: cover;
    width: 100%;
    height: 90vh;
    display: grid;
    place-items: center;
    text-align: left;
}

.header-landing, .landing-paragraph {
    color: white;
    font-weight: bold;
    text-align: left;
    font-family: 'Source Serif Pro', serif;
}

.header-landing{
    font-size: 50px;
}

.landing-paragraph{
    font-family: 'Poppins', sans-serif;
}

.btn-danger {
    background-color:  var(--div-secondary-color);
    border: none !important;
    font-weight: 500;
    color: white !important;
}
.btn-danger,
.btn-danger:hover,
.btn-danger:active,
.btn-danger:visited,
.btn-danger:focus {
    background-color: #ffbd09 !important;
    border: none !important;
    /* border-color: #bfcbd2 !important; */
    /* color: black; */
    }